body {
  background: #eee;
  font-family: cursive;
}
.main h1 {
  color: #444;
  text-align: center;
}
.main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
.book-list {
  padding: 0px;
}
.book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid royalblue;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: royalblue;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 350px;
}
form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
form label {
  text-align: right;
  padding: 6px;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2rem;
  background: rgb(119, 84, 245);
  border: 0px;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.book-details {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 35%;
  height: 100%;
  background: #f1c8da;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: rgb(192, 24, 24);
}
